# Practice Dry Code Exercise

## Import Python Packages

In [9]:
# import necessary Python packages
import os
import numpy as np
import urllib.request
import pandas as pd

# print message after packages imported successfully
print("import of packages successful")

import of packages successful

## Get Data

In [2]:
# set the working directory to my `earth-analytics-bootcamp` directory
os.chdir("C:/Users/windnage/earth-analytics-bootcamp/")

# print the current working directory
os.getcwd()

'C:\\Users\\windnage\\earth-analytics-bootcamp'

In [4]:
# use `urllib` to download files from Earth Lab figshare repository

# download .csv containing monthly average precip for 1988 to 1992 for Boulder, CO
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12807380", 
                           filename = "data/monthly-precip-1988-to-1992.csv")

# download .csv containing monthly average temperature for 1993 to 1997 for Boulder, CO
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12807383", 
                           filename = "data/monthly-precip-1993-to-1997.csv")

# download .csv containing monthly average precip for 1991 to 1995 for Boulder, CO
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12807389", 
                           filename = "data/temp-1991-to-1995-months.csv")

# download .csv containing monthly average temperature for 1996 to 2000 for Boulder, CO
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12807386", 
                           filename = "data/temp-1996-to-2000-months.csv")

# print message that data downloads were successful
print("datasets downloaded successfully")

datasets downloaded successfully

In [35]:
# put data from monthly-precip-1988-to-1992.csv and monthly-precip-1993-to-1997.csv into numpy array
# import the monthly average precip values from `monthly-precip-1988-to-1992.csv` as a numpy array
monthly_precip_1988_to_1992_in = np.loadtxt(fname = "C:/Users/windnage/earth-analytics-bootcamp/data/monthly-precip-1988-to-1992.csv", delimiter=",")

# import the monthly average precip values from `monthly-precip-1993-to-1997.csv` as a numpy array
monthly_precip_1993_to_1997_in = np.loadtxt(fname = "C:/Users/windnage/earth-analytics-bootcamp/data/monthly-precip-1993-to-1997.csv", delimiter=",")


# print each array
print("precip 1988 to 1992:")
print(monthly_precip_1988_to_1992_in)
print("")
print("precip 1993 to 1997:")
print(monthly_precip_1993_to_1997_in)
print("")

precip 1988 to 1992:
[[0.4  1.14 2.53 1.48 3.7  0.7  0.71 1.33 2.02 0.03 0.75 2.16]
 [1.19 1.27 0.97 1.95 2.68 2.93 1.43 1.63 3.54 1.4  0.09 1.54]
 [1.04 1.32 4.55 2.16 1.73 0.39 4.23 1.13 1.84 0.96 1.6  0.75]
 [1.05 0.15 0.43 2.41 2.9  3.59 3.11 2.08 1.21 0.93 3.3  0.01]
 [0.67 0.   5.17 0.46 1.7  0.96 1.13 3.08 0.02 0.79 2.56 0.84]]

precip 1993 to 1997:
[[0.25 0.9  2.15 2.56 1.73 3.38 1.4  1.04 3.32 2.42 2.17 0.55]
 [0.86 1.37 1.61 3.46 1.35 0.93 0.35 2.56 0.54 1.02 2.25 0.49]
 [0.64 1.53 1.21 5.45 9.59 4.03 0.72 1.45 2.96 0.59 1.51 0.25]
 [1.89 0.29 2.16 1.49 4.63 2.77 1.96 0.63 3.48 0.28 1.43 0.37]
 [0.87 1.83 0.91 5.77 2.19 3.69 1.14 5.27 1.92 2.7  1.52 0.68]]

In [11]:
# put data from temp-1991-to-1995-months.csv and temp-1996-to-2000-months.csv into dataframe
# import the temp values for 1991 to 1995 as a pandas dataframe
average_temp_1991_to_1995_F = pd.read_csv("C:/Users/windnage/earth-analytics-bootcamp/data/temp-1991-to-1995-months.csv")

# print dataframe
average_temp_1991_to_1995_F

,Year,January,February,March,April,May,June,July,August,September,October,November,December
0,1991,29.9,40.9,42.8,47.8,58.2,66.6,70.5,69.2,61.7,52.1,36.8,35.3
1,1992,35.9,40.6,43.3,54.3,59.1,62.9,68.3,66.3,64.4,54.1,34.1,29.2
2,1993,28.3,30.6,42.4,47.6,57.5,64.5,69.5,67.3,58.8,48.7,35.6,35.4
3,1994,35.5,31.9,43.9,47.6,60.8,70.0,71.2,70.9,65.0,50.6,36.6,36.1
4,1995,34.5,38.3,42.1,45.1,50.9,62.4,70.5,74.0,60.4,50.5,45.0,36.3

In [12]:
# import the temp values for 1996 to 2000 as a pandas dataframe
average_temp_1996_to_2000_F = pd.read_csv("C:/Users/windnage/earth-analytics-bootcamp/data/temp-1996-to-2000-months.csv")

# print dataframe
average_temp_1996_to_2000_F

,Year,January,February,March,April,May,June,July,August,September,October,November,December
0,1996,29.7,37.7,37.9,50.4,58.9,66.9,71.5,69.5,60.8,53.1,40.6,36.5
1,1997,31.3,32.8,45.5,42.8,57.4,66.5,71.4,68.7,64.0,52.7,37.9,33.9
2,1998,36.5,36.4,38.7,46.5,58.8,62.1,72.8,70.7,67.1,50.4,44.0,32.2
3,1999,36.4,42.1,46.0,44.5,55.6,64.8,73.5,69.3,58.5,51.9,48.0,36.9
4,2000,36.4,41.0,42.9,51.2,61.0,67.4,74.7,73.0,63.1,49.6,31.4,31.2

## Question 1 - Use Indexing to Select from Numpy Array

In [15]:
# Select the second row of data (including all columns) from the numpy array containing the data for 1988 to 1992,
# and save to a new numpy array.

# check the size of the array
print(monthly_precip_1988_to_1992_in.shape)

# pull out the data and print
monthly_precip_1989_in = monthly_precip_1988_to_1992_in[1:2, 0:12]
print(monthly_precip_1989_in)

(5, 12)
[[1.19 1.27 0.97 1.95 2.68 2.93 1.43 1.63 3.54 1.4  0.09 1.54]]

## Question 2 - Write a Conditional Statement to Check Dimensions of Numpy Array

In [18]:
# check whether monthly_precip_1989_in is a one-dimensional array 
if monthly_precip_1989_in.ndim == 1:
    print("This is a one-dimensional array")
else:
    print("This is NOT a one-dimensioinal array")

This is NOT a one-dimensioinal array

## Question 3 - Expand Conditional Statement to Execute Different Code

In [19]:
# check whether monthly_precip_1989_in is a one-dimensional array and if it isn't then make turn it into one
if monthly_precip_1989_in.ndim == 1:
    print(monthly_precip_1989_in.shape)
else:
    monthly_precip_1989_in_1d = monthly_precip_1989_in.flatten()
    print(monthly_precip_1989_in_1d.shape)

(12,)

## Question 4 - Write a Conditional Statement to Check Dimensions of Two Numpy Arrays

In [22]:
# create a numpy array of month names
months = np.array(["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])

if months.shape == monthly_precip_1989_in_1d.shape:
    print("These arrays have the same shape and can be plotted together.")
else:
    print("Warning: These arrays do NOT have the same shape.")

These arrays have the same shape and can be plotted together.

## Question 5 - Practice Pseudo Coding

Goal: Plot the arrays within the conditional statement if the arrays are of the same dimensions

How:
* Create the months array
* Test using an "if" statement to see if the months array and the data array have the same dimensions
* If yes, then add the plotting command within the "if" statement
* If no, have an "else" statement that prints a warning that the arrays are not the same size

## Question 6 - Loop on Pandas Dataframes

In [31]:
# create a list of the pandas dataframes
dataframe_list = (average_temp_1991_to_1995_F, average_temp_1996_to_2000_F)

# loop over the dataframes and print out their info
for dataframe in dataframe_list:
    print(dataframe.info())
    print("")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
Year         5 non-null int64
January      5 non-null float64
February     5 non-null float64
March        5 non-null float64
April        5 non-null float64
May          5 non-null float64
June         5 non-null float64
July         5 non-null float64
August       5 non-null float64
September    5 non-null float64
October      5 non-null float64
November     5 non-null float64
December     5 non-null float64
dtypes: float64(12), int64(1)
memory usage: 600.0 bytes
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
Year         5 non-null int64
January      5 non-null float64
February     5 non-null float64
March        5 non-null float64
April        5 non-null float64
May          5 non-null float64
June         5 non-null float64
July         5 non-null float64
August       5 non-null float64
September    5 non-null float64
October      5 non-null float64
November     5 non-null float64
December     5 non-null float64
dtypes: float64(12), int64(1)
memory usage: 600.0 bytes
None

## Question 7 - Loop on Columns in Pandas Dataframes

In [33]:
# create a list of months that correspond to the columns of the dataframe
months = ("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")

for m in months:
    print(average_temp_1996_to_2000_F[[m]].describe())
    print("")

         January
count   5.000000
mean   34.060000
std     3.298939
min    29.700000
25%    31.300000
50%    36.400000
75%    36.400000
max    36.500000

        February
count   5.000000
mean   38.000000
std     3.724916
min    32.800000
25%    36.400000
50%    37.700000
75%    41.000000
max    42.100000

           March
count   5.000000
mean   42.200000
std     3.760319
min    37.900000
25%    38.700000
50%    42.900000
75%    45.500000
max    46.000000

           April
count   5.000000
mean   47.080000
std     3.650616
min    42.800000
25%    44.500000
50%    46.500000
75%    50.400000
max    51.200000

           May
count   5.0000
mean   58.3400
std     1.9995
min    55.6000
25%    57.4000
50%    58.8000
75%    58.9000
max    61.0000

            June
count   5.000000
mean   65.540000
std     2.157081
min    62.100000
25%    64.800000
50%    66.500000
75%    66.900000
max    67.400000

            July
count   5.000000
mean   72.780000
std     1.391761
min    71.400000
25%    71.500000
50%    72.800000
75%    73.500000
max    74.700000

          August
count   5.000000
mean   70.240000
std     1.705286
min    68.700000
25%    69.300000
50%    69.500000
75%    70.700000
max    73.000000

       September
count   5.000000
mean   62.700000
std     3.258067
min    58.500000
25%    60.800000
50%    63.100000
75%    64.000000
max    67.100000

         October
count   5.000000
mean   51.540000
std     1.497665
min    49.600000
25%    50.400000
50%    51.900000
75%    52.700000
max    53.100000

        November
count   5.000000
mean   40.380000
std     6.285062
min    31.400000
25%    37.900000
50%    40.600000
75%    44.000000
max    48.000000

       December
count   5.00000
mean   34.14000
std     2.53239
min    31.20000
25%    32.20000
50%    33.90000
75%    36.50000
max    36.90000

## Question 8 - Write Function to Summarize Numpy Array Using Axes

In [37]:
# define function to calculate mean across columns of two-dimensional numpy array

def mean_stats_cols(array):
    
    # calculate mean of two-dimensional numpy array for each column
    # function can take a numpy array as input
    # function can not take list or pandas dataframe as input
    
    mean_col = np.mean(array, axis = 0)
    return(mean_col)

## Question 9 - Execute Function and Save Output to New Numpy Array

In [38]:
mean_1993_to_1997 = mean_stats_cols(monthly_precip_1993_to_1997_in)

print(mean_1993_to_1997)

[0.902 1.184 1.608 3.746 3.898 2.96  1.114 2.19  2.444 1.402 1.776 0.468]

## Question 10 - Practice Pseudo Coding

Goal: Run a function on multiple numpy arrays

How:
* create a list of the arrays you want to loop over
* create a for loop using this list
* run calculation and append to a new list using the list operator +=
* return the new list