# Earth Analytics Bootcamp - Practice Dry Coding

* **Author:** Kyle Burris
* **Date:**   8/23/18

First, I need to import packages for working with the operating system, numpy arrays and pandas dataframes, as well as a library that allows importation of data for those data structures from text and csv files, and the standard Python plotting package.

In [3]:
# Import necessary Python packages
import os
import numpy as np
import pandas as pd
import urllib.request
import matplotlib.pyplot as plt
import glob as gl

# Print message after packages imported successfully
print("import of packages successful")

import of packages successful

I need to set the working directory here.

In [35]:
# Set the working directory to the `earth-analytics-bootcamp` directory
os.chdir("C:/Users/Kyle/earth-analytics-bootcamp/")

Here I download data for numpy arrays and pandas dataframes in the form of csv files.

In [5]:
# Numpy array data
# Download .csv files containing monthly average precipitation for Boulder, CO ? from 1988-1992 and 1993-1997 respectively
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12807380", 
                           filename = "data/monthly-precip-1988-to-1992.csv")

urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12807383", 
                           filename = "data/monthly-precip-1993-to-1997.csv")

# Print message that data downloads were successful
print("datasets downloaded successfully")

datasets downloaded successfully

In [6]:
# Pandas dataframe data
# Download .csv files containing monthly average temperatures for Boulder, CO ? from 1991-1995 and 1996-2000 respectively
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12807389", 
                           filename = "data/temp-1991-to-1995-months.csv")

urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12807386", 
                           filename = "data/temp-1996-to-2000-months.csv")

# Print message that data downloads were successful
print("datasets downloaded successfully")

datasets downloaded successfully

Next I import csv files into two numpy arrays and two pandas dataframes.

In [7]:
# Import the monthly average values from `monthly-precip-1988-to-1992.csv` as a numpy array
monthly_precip_1988_to_1992 = np.loadtxt(fname= "C:/Users/Kyle/earth-analytics-bootcamp/data/monthly-precip-1988-to-1992.csv", delimiter = ",")

# Import the monthly average values from `bmonthly-precip-1993-to-1997.csv` as a numpy array
monthly_precip_1993_to_1997 = np.loadtxt(fname= "C:/Users/Kyle/earth-analytics-bootcamp/data/monthly-precip-1993-to-1997.csv", delimiter = ",")

# Import the monthly average temperature values from 'temp-1991-to-1995-months.csv' as a pandas dataframe
temp_1991_to_1995_months = pd.read_csv("C:/Users/Kyle/earth-analytics-bootcamp/data/temp-1991-to-1995-months.csv")

# Import the monthly average temperature values from 'temp-1996-to-2000-months.csv' as a pandas dataframe
temp_1996_to_2000_months = pd.read_csv("C:/Users/Kyle/earth-analytics-bootcamp/data/temp-1996-to-2000-months.csv")

Below I print the new numpy arrays and pandas dataframes.

In [8]:
print (monthly_precip_1988_to_1992)
print ("")
print (monthly_precip_1993_to_1997)

[[0.4  1.14 2.53 1.48 3.7  0.7  0.71 1.33 2.02 0.03 0.75 2.16]
 [1.19 1.27 0.97 1.95 2.68 2.93 1.43 1.63 3.54 1.4  0.09 1.54]
 [1.04 1.32 4.55 2.16 1.73 0.39 4.23 1.13 1.84 0.96 1.6  0.75]
 [1.05 0.15 0.43 2.41 2.9  3.59 3.11 2.08 1.21 0.93 3.3  0.01]
 [0.67 0.   5.17 0.46 1.7  0.96 1.13 3.08 0.02 0.79 2.56 0.84]]

[[0.25 0.9  2.15 2.56 1.73 3.38 1.4  1.04 3.32 2.42 2.17 0.55]
 [0.86 1.37 1.61 3.46 1.35 0.93 0.35 2.56 0.54 1.02 2.25 0.49]
 [0.64 1.53 1.21 5.45 9.59 4.03 0.72 1.45 2.96 0.59 1.51 0.25]
 [1.89 0.29 2.16 1.49 4.63 2.77 1.96 0.63 3.48 0.28 1.43 0.37]
 [0.87 1.83 0.91 5.77 2.19 3.69 1.14 5.27 1.92 2.7  1.52 0.68]]

In [9]:
# Display the dataframe in its full form
temp_1991_to_1995_months

,Year,January,February,March,April,May,June,July,August,September,October,November,December
0,1991,29.9,40.9,42.8,47.8,58.2,66.6,70.5,69.2,61.7,52.1,36.8,35.3
1,1992,35.9,40.6,43.3,54.3,59.1,62.9,68.3,66.3,64.4,54.1,34.1,29.2
2,1993,28.3,30.6,42.4,47.6,57.5,64.5,69.5,67.3,58.8,48.7,35.6,35.4
3,1994,35.5,31.9,43.9,47.6,60.8,70.0,71.2,70.9,65.0,50.6,36.6,36.1
4,1995,34.5,38.3,42.1,45.1,50.9,62.4,70.5,74.0,60.4,50.5,45.0,36.3

In [10]:
# Display the dataframe in its full form
temp_1996_to_2000_months

,Year,January,February,March,April,May,June,July,August,September,October,November,December
0,1996,29.7,37.7,37.9,50.4,58.9,66.9,71.5,69.5,60.8,53.1,40.6,36.5
1,1997,31.3,32.8,45.5,42.8,57.4,66.5,71.4,68.7,64.0,52.7,37.9,33.9
2,1998,36.5,36.4,38.7,46.5,58.8,62.1,72.8,70.7,67.1,50.4,44.0,32.2
3,1999,36.4,42.1,46.0,44.5,55.6,64.8,73.5,69.3,58.5,51.9,48.0,36.9
4,2000,36.4,41.0,42.9,51.2,61.0,67.4,74.7,73.0,63.1,49.6,31.4,31.2

Question 1. I begin the questions with selecting the second row of data from the numpy array containing the data for 1988 to 1992, and save it to a new numpy array.

In [12]:
# Make a new numpy array from a selection containing the second row
precip_1989 = monthly_precip_1988_to_1992[1:2, 0:12]

# Display new array
precip_1989

array([[1.19, 1.27, 0.97, 1.95, 2.68, 2.93, 1.43, 1.63, 3.54, 1.4 , 0.09,
        1.54]])

Question 2. Next I write a conditional statement that checks whether the numpy array created in the previous question (i.e. the selection) is a one-dimensional numpy array.

In [13]:
# Make a conditional statement checking the dimensionality to see if it's one or not
if precip_1989.ndim == 1:
    print("Your new array is one-dimensional")
    
else:
    print("Your new array is not one-dimensional")

Your new array is not one-dimensional

Question 3. Then I modify the conditional statement from the previous question, so that my if and else statements execute different code, rather than just printing messages.

In [24]:
# Make a conditional statement checking the dimensionality to see if it's one or not, and if not, flatten it to 1D & print
if precip_1989.ndim == 1:
    print(precip_1989.shape)
    
else:
    precip_1989_1d = precip_1989.flatten()
    print(precip_1989_1d.shape)

(12,)

Question 4. Up next, I manually create a one-dimensional numpy array that contains the month names (i.e. January to December).

In [15]:
# Make a new numpy array containing the months of the year 
months = np.array(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
 'September', 'October', 'November', 'December'])

# Print the output of your new array
print(months)

['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August'
 'September' 'October' 'November' 'December']

Then I write a conditional statement to check that this new array for month names has the same shape as the numpy array from the previous question (i.e. the selection), printing a message stating whether are not these arrays have the same shape and can be plotted together.

In [16]:
# Make a conditional to check if the flattened precipitation array can be plotted against months of the year
if months.shape == precip_1989_1d.shape:
    print("These two elements can be plotted together.")

else:
    print("These two elements can NOT be plotted together.")

These two elements can be plotted together.

Question 5. 

If I wanted to expand the previous conditional statement to execute actual code, and create a plot from the two arrays if they had the same shape, I would exchange the first printing statement with code to make a plot.  This would include code in sequence to set the plot size for the plot, create the space upon which to plot, add the x and y axes to the plot utilizing each numpy array as one of the axes, also setting color, then rotate the x-axis markers so that months are more legible, then creat the plot title and labels for the axes.  The else statement would just print that it could not be plotted.

Question 6. Next up, I write a loop to run the info() method on the two pandas dataframes that I imported earlier, and print the results.

In [29]:
# Create a list of the 2 pandas dataframes
dataframes = [temp_1991_to_1995_months, temp_1996_to_2000_months]

# Check the metadata about the 2 dataframes by using a loop
for df in dataframes:
    print(df.info())
    print("")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
Year         5 non-null int64
January      5 non-null float64
February     5 non-null float64
March        5 non-null float64
April        5 non-null float64
May          5 non-null float64
June         5 non-null float64
July         5 non-null float64
August       5 non-null float64
September    5 non-null float64
October      5 non-null float64
November     5 non-null float64
December     5 non-null float64
dtypes: float64(12), int64(1)
memory usage: 600.0 bytes
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
Year         5 non-null int64
January      5 non-null float64
February     5 non-null float64
March        5 non-null float64
April        5 non-null float64
May          5 non-null float64
June         5 non-null float64
July         5 non-null float64
August       5 non-null float64
September    5 non-null float64
October      5 non-null float64
November     5 non-null float64
December     5 non-null float64
dtypes: float64(12), int64(1)
memory usage: 600.0 bytes
None

Question 7. Now, I write a loop to run the .describe() method on each column in the pandas dataframe containing the data for 1996 to 2000.

In [34]:
# Make a new list of the column names in the temp_1996_to_2000_months dataframe
columnlist = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
 'September', 'October', 'November', 'December']

# Check the metadata about the 2 dataframes by using a loop
for column in columnlist:
    temps = temp_1996_to_2000_months[[column]]
    print(temps.describe())
    print("")

         January
count   5.000000
mean   34.060000
std     3.298939
min    29.700000
25%    31.300000
50%    36.400000
75%    36.400000
max    36.500000

        February
count   5.000000
mean   38.000000
std     3.724916
min    32.800000
25%    36.400000
50%    37.700000
75%    41.000000
max    42.100000

           March
count   5.000000
mean   42.200000
std     3.760319
min    37.900000
25%    38.700000
50%    42.900000
75%    45.500000
max    46.000000

           April
count   5.000000
mean   47.080000
std     3.650616
min    42.800000
25%    44.500000
50%    46.500000
75%    50.400000
max    51.200000

           May
count   5.0000
mean   58.3400
std     1.9995
min    55.6000
25%    57.4000
50%    58.8000
75%    58.9000
max    61.0000

            June
count   5.000000
mean   65.540000
std     2.157081
min    62.100000
25%    64.800000
50%    66.500000
75%    66.900000
max    67.400000

            July
count   5.000000
mean   72.780000
std     1.391761
min    71.400000
25%    71.500000
50%    72.800000
75%    73.500000
max    74.700000

          August
count   5.000000
mean   70.240000
std     1.705286
min    68.700000
25%    69.300000
50%    69.500000
75%    70.700000
max    73.000000

       September
count   5.000000
mean   62.700000
std     3.258067
min    58.500000
25%    60.800000
50%    63.100000
75%    64.000000
max    67.100000

         October
count   5.000000
mean   51.540000
std     1.497665
min    49.600000
25%    50.400000
50%    51.900000
75%    52.700000
max    53.100000

        November
count   5.000000
mean   40.380000
std     6.285062
min    31.400000
25%    37.900000
50%    40.600000
75%    44.000000
max    48.000000

       December
count   5.00000
mean   34.14000
std     2.53239
min    31.20000
25%    32.20000
50%    33.90000
75%    36.50000
max    36.90000

Question 8. Herein I write a function that calculates the mean across columns of a numpy array.

In [36]:
# A function is defined to calculate the mean across the columns of a numpy array
# array is the placeholder for the input parameter and will be assigned when the function is called

def mean_stat_col(array):
    
    # Calculate the median across each column in a numpy array 
    # This function can take a numpy array as input
    # This function can not take list or pandas dataframe as input
    
    stat_mean_col = np.mean(array, axis = 0)
    return(stat_mean_col)

Question 9. Next, I use the function created in the previous question (i.e. to calculate mean of columns in a numpy array) on the numpy array containing data for 1993 to 1997 and save the output to a new numpy array.

In [40]:
# Call the function just made, applying it to the 'monthly_precip_1993_to_1997' array and save the output to a new array
mean_90s_precip = np.array(mean_stat_col(monthly_precip_1993_to_1997))

# Display the output of the new array
mean_90s_precip

array([0.902, 1.184, 1.608, 3.746, 3.898, 2.96 , 1.114, 2.19 , 2.444,
       1.402, 1.776, 0.468])

Question 10.

If I wanted to run the function I had just made on multiple numpy arrays, I would make a new list of all the arrays I wanted the function to iterate on, as well as another list that was temporarily empty, and make a loop that called that function within the loop, iterating on an implicit variable that was a placeholder for each array to be iterated on from the list.  The output of the function acting on those original numpy arrays would then be saved as a new numpy array using that empty list, which gets values appended to it inside the loop from each output of the function.  Once that list was filled with values, I would have it save as a new numpy array, outside of the loop.